#pane {
    position: relative;
    width: 750px; 
    height: 750px;
}

#box {
    position:absolute; top:140px; left:140px;
    width: 40px; height:30px;          
}

#bg {
    width: 750px;
}

#bar1 {
    width: 20px;
	height: 400px;
	background: red;
}
#bar2 {
    width: 300px;
	height: 20px;
	background: red;
}
#bar3 {
    position: relative;
    bottom: 20px;
    left: 300px;
    width: 300px;
	height: 20px;
	background: red;
}