.top-row {
    margin: 0 auto;
}
.top-row-icons td {
    padding-bottom: 15px;
}
.top-row-title {
    text-align: center;
}
.icons {
    margin: 0 60px 0 60px;
    width: 135px;
    height: 135px;
}
.icons-name { 
    font-family: "Open Sans";
    position: relative;
    right: 120px;
}
.icons-icon {
    position: relative;
    left: 23px;
    top: 23px;
}
.md-row {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
.md-row td {
    padding-right:70px;
    padding-bottom: 15px;
    text-align: center;
}
.md-row-list {
    text-align: left;
}
.md-row-link {
    /* color: #hexhex !important; does not work */
    text-decoration: underline;
}
.md-row-title {
    font-size: 16px;
}
.md-row-block {
    display:inline-block;
    height:190px;
    width:223px;
}
